package views 

import (
    "fmt"
    "ecom-backend/internal/models"
)

templ BookCard(book models.Book){
    <div class="flex flex-col gap-2 border p-2 m-2 border-gray-500">
        <div><img src={ book.CoverImage }></div>
        <h1 class="text-2xl font-bold">{book.BookName}</h1>
        <p>{book.Writer}</p>
        <p>{book.Description}</p>
        // currentPrice is an uint, so we need to convert it to a string
        <p>{fmt.Sprintf("%d",book.CurrentPrice)}</p>
    </div>
}

templ Hello(books []models.Book){
    <div>
       for _, book := range books {
           @BookCard(book)
       }
    </div>
}
